@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300,400,500,700");

body {
  padding: 0;
  font-family: "Arima Madurai", cursive;
}
li {
  list-style-type: square;
}

.app {
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(10deg, #085078 10%, #85d8ce 90%);
  height: 100%;
  min-height: 100vh;
  padding-bottom: 4%;
}

nav {
  font-weight: 300;
  background-color: whitesmoke;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.challenge-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.btn-challenge {
  background-color: #f7af9d;
  box-shadow: 1px 1px 1px 1px slategrey;
  font-size: 1.45rem;
}

.homepage-quote {
  background-color: #7c9885;
  padding: 30px;
}

.homepage-section {
  background-color: #f7af9d;
  padding: 1.5%;
  width: 100%;
  top: -5%;
  left: -5%;
  transform: rotate(3deg);
  margin-bottom: 2%;
}

.homepage-section:nth-child(2n) {
  transform: rotate(-3deg);
  background-color: #28666e;
  color: #fff;
}

.homepage-section p {
  padding: 3%;
}

.homepage-heading {
  background-color: #033f63;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
}

.bookList {
  margin: 5% auto;
  box-shadow: 2px 2px 5px slategray;
  padding: 2.5%;
  background-color: whitesmoke;
  font-weight: 300;
}

.bookList h1 {
  display: inline-block;
}

.bookItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}
.CircularProgressbar {
  width: 3%;
}

.react-date-picker__wrapper {
  border: none !important;
}

.card {
  width: 275px;
  margin: 2%;
  overflow: hidden;
}

.card-title {
  font-size: 1.25rem;
}

.teams-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.teams-list .card {
  background-image: linear-gradient(
    130deg,
    #f4f4f4 calc(80% + 2px),
    #7dacd8 30%
  );
}

.team-title {
  border-bottom: 1px solid #cdcdcd;
}
